.password-footer__login .link, 
.have-account__link {
    color: rgb(var(--accent-button-color));
    transition: color var(--animation-duration) var(--transition-timing-function);
}

.no-default-color .password-footer__login .link {
    color: rgb(var(--layout-text-color));
    transition: color var(--animation-duration) var(--transition-timing-function);
}
@media (hover: hover) {
    .have-account__link:hover, 
    .password-footer__login .link:hover {
        color: rgba(var(--accent-button-color), 0.7);
    }
    .no-default-color .password-footer__login .link:hover {
        color: rgba(var(--layout-text-color), 0.7);
    }
}
.header-password .heading, .header-password .subheading {
    margin-bottom: 32px;
}

body.password {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-password__wrapper {
    max-width: 1488px;
    padding: 18px 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}
.outlined-button {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.heading--minimal_uppercase, .heading--minimal_basic,
.subheading--minimal_heavy,
.popup-title--minimal_heavy {
    font: var(--base-heading-xs-font);
}
.heading--custom {
    font: var(--heading-xs-font);
    letter-spacing: var(--heading-xs-letter-spacing);
}
.heading--minimal_heavy {
    font: var(--base-heading-m-font);
    letter-spacing: -0.01em;
}
.heading--classic, .popup-title--contrast {
    font: var(--accent-heading-s-font);
}
.heading--brutalist {
    font: var(--base-heading-l-font);
    letter-spacing: -0.02em;
}
.heading--contrast {
    font: var(--accent-heading-l-font);
    letter-spacing: -0.02em;
}
.heading--avant_garde {
    font: var(--base-heading-s-font);
}
.heading--duet,
.subheading--classic, .subheading--contrast,
.popup-title--classic,
.popup-title--duet {
    font: var(--accent-body-l-font);
}
.subheading.error-color {
    color: rgb(var(--error-color));
}
.subheading.success-color {
    color: rgb(var(--success-color));
}
.subheading--brutalist,
.have-account--minimal_heavy, .have-account--brutalist,
.popup-title--minimal_basic  {
    font: var(--base-body-l-font);
}
.subheading--minimal_uppercase,
.have-account--minimal_uppercase, .have-account--minimal_basic, .have-account--classic, .password-footer {
    font: var(--base-body-s-font);
}
.subheading--minimal_basic, .subheading--avant_garde,
.have-account--duet {
    font: var(--base-body-m-font);
}
.subheading--duet {
    font: var(--accent-body-m-font);
}
.subheading--minimal_uppercase, .subheading--avant_garde, .subheading--brutalist,
.have-account--minimal_uppercase, .have-account--brutalist {
    text-transform: uppercase; 
    letter-spacing: 0.02em;
}
.have-account--avant_garde {
    font: var(--accent-body-s-font);
}
.have-account--contrast {
    font: var(--base-label-font);
}
@media screen and (max-width: 1024px) {
    .heading--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
}

.popup-title--minimal_uppercase, .popup-title--avant_garde {
    font: var(--base-body-l-font);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
.popup-title--brutalist {
    font: var(--base-heading-m-font);
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.have-account {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 0;
    margin-top: 32px;
    flex-wrap: wrap;
}
.popup-wrapper .solid-button {
    margin-top: 32px;
    width: 100%;
    min-height: 64px;
}
.popup-wrapper .button-wrapper {
    top: 16px;
    padding-inline-end: 16px;
}

@media screen and (max-width: 768px) {
    .header-password .heading, .header-password .subheading {
        margin-bottom: 24px;
    }
    .popup-wrapper .solid-button {
        margin-top: 24px;
    }
    .heading--brutalist,
    .heading--minimal_heavy,
    .popup-title--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .header-password__wrapper {
        gap: 24px;
    }
}

@media screen and (max-width: 750px) {
    .header-password__wrapper {
        flex-direction: column;
        gap: 16px;
    }
}

.banner__text, .banner__title {
    margin-bottom: 16px;
}
.solid-button {
    width: 100%;
    min-height: 64px;
    margin-top: 32px;
}
body.password footer {
    height: 100%;
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;
}
.password-footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    text-align: center;
}
.password-footer__container {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}
.password-footer__caption {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
}
.custom-type-preset .password-footer,
.have-account--custom,
.subheading--custom {
    font: var(--body-s-font);
    letter-spacing: var(--body-s-letter-spacing);
}
.popup-title--custom {
    font: var(--body-l-font);
    letter-spacing: var(--body-l-letter-spacing);
}

.icon-shopify {
    width: 70px;
    height: 20px;
    vertical-align: top;
    color: rgb(var(--layout-text-color));
}
.shopify-name {
    overflow: clip;
    position: absolute;
    height: 1px;
    width: 1px;
}
.popup-wrapper.center .heading {
    text-align: center;
}
.popup-wrapper.center .have-account {
    justify-content: center;
}
.password-content {
    text-align: center;
}